<html>
    <head></head>
    <body>
        This is the update template. 
        
        <form action="/update/{{data['data']['id']}}" method="post">
            
            <hr/>
            <p>Animal Name:<input name="name" value="{{data['data']['name']}}"/></p>
            <p>Age:<input name="age" value="{{data['data']['age']}}"/></p>
            <p>Type:<select name="kind_id">
                {% for kind in data['kinds'] %}
                <option value="{{kind['id']}}">{{kind['name']}}</option>
                {% endfor %}
            </select></p>
            <p>Owner:<input name="owner" value="{{data['data']['owner']}}"/></p>
            <hr/>
            <button type="submit">Update</button>
            <a href="/list">Cancel</a>
            <hr/>
        </form>
    </body>
</html>